APP_ENV=local
APP_DEBUG=true
APP_TIMEZONE=Asia/Manila
APP_ALLOWED_ORIGIN=*
COLLECTION_PREFIX=DCR-0
AUTH_SECRET=change-this-secret
AUTH_TOKEN_TTL_SECONDS=28800

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=topnotch_migrate
DB_USER=root
DB_PASS=
